:root {
  color: white;
}
* {
  box-sizing: border-box;
  font-family: "Noto Sans", sans-serif;
}
html {
  max-height: 100vh;
  overflow: hidden;
}

body {
  overflow-x: hidden;
  height: 100vh;
  max-height: 100vh;
  max-width: 100vw;
  padding: 0;
  margin: 0;
  background: #528dbf;
  background: linear-gradient(to bottom, #2d91c2 0%, #1e528e 100%);
  /*  background-image: linear-gradient(
    to left bottom,
    #528dbf,
    #5993c2,
    #6199c5,
    #699fc7,
    #71a5ca
  ); */
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto 1fr auto;
}

header {
  h1 {
    line-height: 1;
    font-size: 0.8rem;
    width: 100%;
    text-align: center;
    margin: 0;
    padding: 5px 0;
    border-bottom: rgba(255, 255, 255, 0.5) 1px solid;
  }
}
.main {
  position: relative;
}

.hide {
  display: none;
}
